<h2>投稿ページ</h2>

    <%= form_with model: @settlement, url:settlements_path, local: true do |f| %>
        <div class="form-input">
            <%= f.label :payment, '支払方法' %>
            <%= f.text_field :payment, class: "form-control" %>
        </div>
        <div class="form_input">
            <%= f.label :income_id %>
            <%= f.collection_select :income_id, Income.all, :id, :bank_account, { prompt: '選択してください' }, class: 'form-control' %>
        </div>
        <%#= f.hidden_field :income_id, value:%>
        <div class="form_action row">
            <%= f.submit "投稿する", class: "btn btn-primary"%>
        </div>
    <% end %>

<%= link_to 'トップページに戻る', root_path %>