<%=@total.sum(:price)[Date.today.month]%>
<%= month_calendar events: @spendings do |date, spendings| %>
  <%= date.day %>

  <% array = [] %>
  <% if spendings.any? %>
    <% spendings.each do |spending| %>
      <div>
        <%= link_to spending.price, spending_path(spending.id) %>円
      </div>
      <div>
      <% array << spending.price %>
      </div>
    <% end %>
    <div class="fw-bold text-success align-text-bottom">
    合計：<%= array.sum %>円 
    </div>
    <% else %>
  <% end %>
<% end %>
</div>
<%= link_to '支出追加', new_spending_path %>

<ul>
  <% @this_month.each do |key, value| %>
    <li><%= "#{key}: #{value}" %></li>
  <% end %>
</ul>
