<h1>Incomes#index</h1>

<h1>カテゴリ一覧</h1>
  <table class="table table-hover">
    <tbody>
      <% @incomes.each do |income| %>
        <tr>
          <td><%= income.bank_account %></td>
          <td><%= income.created_at %>作成</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
  <%= link_to '使用している口座を登録する', new_income_path %>
  </div>

  <div>
  <%= link_to '支払を登録する', new_settlement_path %>
  </div>

<%= link_to 'トップページに戻る', root_path %>

<%= link_to '支出を入力', new_spending_path %>