登録銀行編集画面

<div>
<%= @income.amount_price%>
</div>

<div>
<%= @income.bank_account%>
</div>

<div>
<%= link_to '編集', edit_income_path %>
</div>

<div>
<%= link_to '削除', income_path, data: { turbo_method: :delete } %>
</div>
<div>
<%= link_to 'トップページに戻る', root_path %>
</div>